@charset "utf-8";
@import "reset";
@import "module";

/*
* 全体設定ここから
*/
*{
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;//10px
}
body{
    font-size: 1.6rem;//16px
    font-family: 'Noto Sans JP', sans-serif;
    background: linear-gradient(#fff,#a0d8ef);
    color: #333;
}
p{
    font-size: 1.6rem;//16px
}
li{
	list-style-type: none;
}
a{
	color:#333;
}
a:hover{
		color:#00acf0;
		border-bottom: #00acf0;
		background-color: #a0d8ef;
}

//FontAwsomeの隙間
.fa{
  padding-right: 0.8rem;
}

//h1の文字隠し
.gl-header_title{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  }
/*
* 全体設定ここまで
*/

/*
* ヘッダー
*/
.gl-header {
  background-color: #fff;
  height: 50px;
  .navbar-brand {
  	padding-top: 0;
  	margin-right: 20px;
  }
  .navbar{
  	background-color: #fff;
  }
  /*
	* ロゴ（画像置換）
	*/
  &_title {
  	width: 76px;
  	height: 50px;
  	background: url("../images/logo.png") 0 0 no-repeat;
		// text-indent: -9999px;
		&:hover {
			opacity: 0.5;
		}
  }
  /*
	* ハンバーガーアイコン
	*/
  .navbar {
  	background-color: #fff;
  	.navbar-toggle {
  		background-color: #a0d8ef;
  		.icon-bar {
  			background-color: #fff;
  		}
  	}
  }
}

/*
* ヒーローイメージ
*/
.hero {
	width: 100%;
	height: 500px;
	background: url("../images/main.jpg") center center no-repeat;
	background-size: cover;
	@media screen and (max-width: 768px) {
		height: 300px;
	}
}

/*
*ここからmember.html
*/
.seiretsu{
	display: flex;
	justify-content: space-between;
	// @media screen and (max-width: 768px) {
	// display:block;
	// width: 100%;
	// }
}

.memberImg{
	display: inline-block;
	width: 250px;
	height: 250px;
	position: relative;
 	overflow: hidden;
	border-radius: 50%;
	&_img{
		  position: absolute;
		  top: -100%;
		  bottom: -100%;
		  margin: auto;
	}
}
.row {
	margin-bottom: 5rem;
	h3{
		padding-top: 3rem;
		padding-bottom: 3rem;
		text-align: center;
	}
}
.profile th, tr{
	font-weight: normal;
	height: 3rem;
}


/*
*ここまでmember.html
*/

/*
* 共通コンテンツ
*/
.block {
	margin: 80px 0;
	&_body {
		&_title {
			padding-left: 10px;
			margin: 40px 0;
			border-left: 5px solid #00acf0;
			font-size: 2rem;
		}
		&_subtitle {
			margin: 40px 0;
			font-size: 1.4em;
		}
		&_p {
			margin: 40px 0;
			padding-bottom: 40px;
			line-height: 3;
			border-bottom: 1px dotted #00acf0;
		}
		&_lists {
			margin-bottom: 40px;
			li {
				padding-left: 40px;
				margin-bottom: 20px;
				display: flex;
				&::before {
					content: "";
					display: block;
					width: 12px;
					height: 12px;
					margin: 2px 10px 0 0;
					border-radius: 2px;
					background-color: #bbb;
				}
			}
		}
	}
}

/*
* フッター
*/
.gl-footer {
	width: 100%;
	height: 100px;
	padding-top: 60px;
	background-color: #fff;
	&_container {
		text-align: center;
	}
}

@import "second";
